* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.mainWrapper {
    background-image: url(../image/background13.jpg);
    background-position: center;
}

div.header {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding-top: 15px;
    justify-content: center;
    background-color: rgb(250, 240, 240);
    padding-bottom: 15px;
}

nav {
    padding-left: 30px;
}

.main {
    margin-top: 2s0px;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
}

img {
    width: 700px;
    height: 500px;
}

li {
    list-style-type: none;
    padding: 5px;
    border: solid 1px rgb(216, 207, 207);
    border-radius: 20% 0% 20% 0%;
    margin-top: 10px;
    box-shadow: 5px 3px 4px 2px rgb(245, 123, 123);
    color: rgb(165, 146, 146);
    font-family: 'Roboto', sans-serif; 
     
    position: relative;
    
}

li a {
    text-decoration: none;
    font-style: oblique;
}

li a:hover {
    color: rgb(56, 6, 236);

}

section.menu {
    margin-left: 15px;
    margin-top: 5px;
    margin-right: 13px;
}

section.information {
    display: flex;

}

.informationOfCar {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-indent: 15px;
}

.informationOfCar p {
    text-align: left;
    font-family: 'Fuggles', cursive;
    font-style: italic;
    color: rgb(63, 17, 17);
}

.informationOfCar p:last-child {
    margin-top: 10px;
}

.photoCar img {
    margin: 10px 5px 10px 5px;
    border-radius: 10%;
}

@media (max-width:1024px) {
    .main {
        flex-wrap: wrap;
        justify-content: center;
    }

    ul.menuTable {
        display: flex;
    }
    
    li {
        margin-left: 50px;
    }
}